[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"
bandit = "*"
black = "==19.3b0"
boto3 = "*"
flake8 = "*"
flake8-breakpoint = "*"
flake8-builtins-unleashed = "*"
flake8-eradicate = "*"
flake8-isort = "*"
ipdb = "*"
ipython = "*"
isort = "*"
marshmallow = "*"
moto = "*"
pep8-naming = "*"
pytest = "*"
pytest-cov = "*"
safety = "*"
sphinx = "*"

[packages]
marshmallow = "==2.19.5"
pandas = "*"

[requires]
python_version = "3.7"
